table{
  border-collapse:collapse;
  border-spacing:0;
  display:block;
  margin-bottom:16px;
  margin-top:0;
  overflow:auto;
  width:100%;
  border-radius: 5px;
}
.icon-link{
  display:none !important;
}
table tr{
  background-color:transparent;
  border-top:1px solid #dfe2e5
}
table tr:nth-child(2n){
  background-color:#F7F7F7
}
table td,table th{
  border:1px solid #dfe2e5;padding:6px 13px
}
table th{
  background-color:inherit;
  font-weight:600
}
table th:first-child {
  width: 20%;
}
table thead th:first-child {
  text-align: center;
}
table td:first-child {
  text-align: center;
}
table td,table th{
  color:inherit
}
.prose code {
  color: #1a202c;
  font-weight: 400;
  font-size: 0.875em;
  background-color: #f7fafc;
  padding: 0.25rem;
  border-width: 1px;
  border-color: #edf2f7;
  border-radius: 0.25rem;
}
.prose h1 {
  color: #1a202c;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

@media (min-width: 1024px){
  .lg\:max-h-\(screen-16\) {
    max-height: calc(100vh - 4rem);
  }
}
@media (min-width: 1024px){
  .lg\:top-16 {
    top: 4rem;
  }
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(-48deg, #0DCBE5 -30%, #365899 60%) !important;
  outline: 1px solid #7D838B !important;
}
::-webkit-scrollbar-track {
  border-radius: 5px !important;
}
::-webkit-scrollbar {
  width: 9px !important;
  height: 5px !important;
  background: #fff !important;
}
.prose a {
  color: #1a202c;
  text-decoration: none;
}
.bg-color{
  background-color: #f9fbfc;
}
.prose {
  font-size: 0.95rem;
  line-height: 1.5;
}
.prose code {
  background-color: #649dc31f !important;
}

.prose pre code {
  background-color: transparent !important;
}
pre[class*="language-"] {
  overflow: auto;
  position: relative;
  margin: 0 !important;
  padding: 1.25em 1em;
}
.prose pre {
  border-radius: 0.2rem;
}
.nuxt-content-highlight{
  position: relative !important;
}
.nuxt-content .nuxt-content-highlight>.copy:hover {

  --bg-opacity: 1;
  background-color: #4a5568;
  background-color: rgba(74,85,104,var(--bg-opacity));
}
.nuxt-content .nuxt-content-highlight>.copy {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  padding: .5rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255,255,255,var(--text-opacity));
  --bg-opacity: 1;
  background-color: #2d3748;
  background-color: rgba(45,55,72,var(--bg-opacity));
  font-size: .875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  border-radius: .375rem;
  border-width: 1px;
  --border-opacity: 1;
  border-color: #fff;
  border-color: rgba(255,255,255,var(--border-opacity));
  font-weight: 600;
  margin-right: .75rem;
  margin-bottom: .75rem;
}
button, input {
  overflow: visible;
}
.algolia-autocomplete{
  width: 100%;
}
.link a {
  color: #406DAD!important;
  text-decoration: underline!important;
}
